
section:first-of-type {
    text-align: center;
    padding: 60px 20px 30px 20px;
    background-color: #fff3e0;
    color: #4e342e;
}

section:first-of-type h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

section:first-of-type h2 {
    font-size: 1.5rem;
    font-style: italic;
    color: #6d4c41;
}

/* Sección de “Especiales” */
section:nth-of-type(2) {
    padding: 40px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

section:nth-of-type(2) div {
   width:90%;
}

section:nth-of-type(2) h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: rgb(154, 6, 6);
}

section:nth-of-type(2) p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}


.gallery {
    padding: 20px;
}

.gallery h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery div {
    width: 250px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.gallery h1{
    width:100%;
    font-size: 50px;
    background-color: #045703;
    color:#e4e4e4;
}

.gallery div:hover {
    transform: scale(1.05);
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
